// Colors
$main-background-color: #1F2D56;
$contact-background-color: #323966;
$elements-color: #c34366;
$font-color: #ffffff;
$overlay-color: rgba(0,0,0,0.3);

// Fonts
$main-font: 'Open Sans', sans-serif;