.contact {
	width: 100%;
	background: $contact-background-color;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 40px;
	padding-top: 40px;

	.contact__head {
		@include text(52px, none);
		text-align: center;
	}

	.contact__information {
		display: flex;
		align-items: center;
		font-family: $main-font;
		position: relative;
		margin: 10px 0px;

		.information__icon {
			color: $elements-color;
			font-size: 24px;
			margin-right: 5px;
			position: absolute;
			left: -28px;
		}

		.information__text {
			color: $font-color;
			font-size: 20px;
			font-weight: 300;
		}

		.information__link {
			color: $font-color;
			font-size: 20px;
			font-weight: 300;
			text-decoration: none;
			cursor: pointer;
			transition: color .3s;

			&:focus,
			&:hover {
				color: darken($font-color, 20%);
			}
		}

		&:last-of-type {
			margin-left: 20px;
		}
	}
}

@media (min-width: 920px) {
	.contact {
		height: 450px;

		.contact__head {
			margin-bottom: 20px;
		}

		.contact__information {
			margin-left: 11px;
			.information__text {
				font-size: 30px;
			}

			.information__icon {
				font-size: 40px;
				left: -45px;
			}

			.information__link {
				font-size: 30px;
			}
		}
	}
}